*.fodt#
*.tmp
*.csv#
README.pdf
*.rtf#
*.ufp

/.obsidian/workspace.json
/.obsidian/graph.json
/plugins/obsidian-git/manifest.json
/.obsidian/plugins
/computer_environment/PuTTYPortable/Data/settings/PuTTYPortableSettings.ini
/.obsidian/community-plugins.json
